<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DbStudentDormsConnectionString"
			connectionString="Server=DESKTOP-A5OF3SQ\SQLEXPRESS;Database=DbStudentDorms;Trusted_Connection=True;TrustServerCertificate=true;"
			providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>